<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firebase">
        <activity android:name=".myFavourites"></activity>
        <activity android:name=".UserFav" />
        <activity android:name=".PlayList" />
        <activity android:name=".PlaySong" />
        <activity android:name=".local" />
        <activity android:name=".user_activiy" />
        <activity android:name=".userlist" />
        <activity android:name=".upload" />
        <activity android:name=".myProfile" >android:theme="@style/Theme.AppCompat.Light"</activity>
        <activity android:name=".signIn" />
        <activity android:name=".signUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>